body,
h1,
h2,
h3,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    color: red;
}

h4 {
    font-family: 'Oswald', sans-serif;
    color: red;
}

p {
    font-family: 'Noto Sans TC', sans-serif;
    color: red;
}

span {
    color: black;
}

body {
    font-size: 16px;
    background-color: black;
}

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}
